<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active" routerLinkActive="active"><a class="nav-link" routerLink="/home">Home</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/about">About</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/blog">Blog</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/users">Users</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/messagelist">Message List</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/parent">Parent</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/counteractions">Counter Actions</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/classbinding">Class Binding</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/stylebinding">Style Binding</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/attributebinding">Attribute Binding</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/eventbinding">Event Binding</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/propertybinding">Property Binding</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/stringinterpolation">String Interpolation</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/chat">Chat</a></li>
        </ul>
    </div>
</nav>