<div [class]="'pantalla'">
    <div [class]="'pantallaOperaciones'">
        <button [class]="'calc'" [id]="'n1'" (click)="handleButton(1)">1</button>
        <button [class]="'calc'" [id]="'n2'" (click)="handleButton(2)">2</button>
        <button [class]="'calc'" [id]="'n3'" (click)="handleButton(3)">3</button>
        <button [class]="'calc'" [id]="'divi'" (click)="handleButton('divi')">/</button>
        <button [class]="'calc'" [id]="'n4'" (click)="handleButton(4)">4</button>
        <button [class]="'calc'" [id]="'n5'" (click)="handleButton(5)">5</button>
        <button [class]="'calc'" [id]="'n6'" (click)="handleButton(6)">6</button>
        <button [class]="'calc'" [id]="'multi'" (click)="handleButton('multi')">*</button>
        <button [class]="'calc'" [id]="'n7'" (click)="handleButton(7)">7</button>
        <button [class]="'calc'" [id]="'n8'" (click)="handleButton(8)">8</button>
        <button [class]="'calc'" [id]="'n9'" (click)="handleButton(9)">9</button>
        <button [class]="'calc'" [id]="'resta'" (click)="handleButton('resta')">-</button>
        <button [class]="'calc'" [id]="'n0'" (click)="handleButton(0)">0</button>
        <button [class]="'calc'" [id]="'punto'" (click)="handleButton('.')">.</button>
        <button [class]="'calc'" [id]="'suma'" (click)="handleButton('suma')">+</button>
        <button [class]="'calc'" [id]="'result'" (click)="handleButton('result')">=</button>
    </div>
</div>