
.pantallaOperaciones{
    height: 140px;
    width: 140px;
    border: 1px solid black;
}
.pantalla{
    margin: 0 auto;
    height: 140px;
    width: 140px;
    border: 1px solid black;
}
.calc{
    height: 30px;
    width: 30px;
    margin: 2.2px;
    font-weight: bold;
    text-align: center;
}